const AWS = require('aws-sdk');
const client = new AWS.DynamoDB.DocumentClient();
const { v4: uuid } = require('uuid');

import Position from '../types/Position';

async function createPositionReadModel(position: Position) {
  if (!position.id) {
    position.id = uuid();

    console.log(`createPositionReadModel: Creating new Id ${position.id}`);
  }

  const params = {
    TableName: process.env.POSITION_TABLE_NAME,
    Item: position,
  };

  try {
    console.debug(`createPositionReadModel: ${params}`);

    await client.put(params).promise();

    console.log(`✅ createPositionReadModel succeeded`);

    return position;
  } catch (err) {
    console.error('❌ createEvent error: ', err);

    return null;
  }
}

export default createPositionReadModel;
