const AWS = require('aws-sdk');
const client = new AWS.DynamoDB.DocumentClient();

async function listEvents() {
  const params = {
    TableName: process.env.EVENT_TABLE_NAME,
  };

  try {
    console.debug(`listEvents: ${params}`);

    const data = await client.scan(params).promise();

    console.log(`✅ listEvents found: ${data.Items}`);

    return data.Items;
  } catch (err) {
    console.error('❌ listEvents error: ', err);

    return null;
  }
}

export default listEvents;
