*.js
*.d.ts
!remoteTypes.d.ts
node_modules
/client/build
**/dist/

# CDK asset staging directory
.cdk.staging
cdk.out

# Files to convert to TypeScript
!/client/src/client.js
!/client/src/utils/Session.js

# Exclude configuration files (provided with *.example files)
.env*
backend/deploy.sh
aws-exports.js

!webpack.*.js
!jest.config.js
!.env.example

cypress.*.json
**/cypress/videos/