*.js
*.d.ts
!remoteTypes.d.ts
**/node_modules/
/client/build
**/dist/

# CDK asset staging directory
.cdk.staging
cdk.out

# AppSync
**/infrastructure/graphql/types

# Files to convert to TypeScript - for old client
!/*client*/src/client.js
!/*client*/src/utils/Session.js

# Exclude configuration files (provided with *.example files)
.env*
aws-exports.js

# Remix
!remix.config.js
!remix.env.d.ts
!plugin-remix.js
**/.cache
**/public/build
**/frontend*/server

# SST
/frontend/.cache
/frontend/.sst
/frontend/build

!.eslintrc.js
!webpack.*.js
!jest.config.js
!.env.example

cypress.*.json
**/cypress/videos/
