*.js
*.d.ts
!remoteTypes.d.ts
**/node_modules/
/client/build
**/dist/

# CDK asset staging directory
.cdk.staging
cdk.out

# AppSync
**/infrastructure/graphql/types

# Files to convert to TypeScript - for old client
!/*client*/src/client.js
!/*client*/src/utils/Session.js

# Exclude configuration files (provided with *.example files)
.env*
aws-exports.js

# Vite
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

!.eslintrc.js
!webpack.*.js
!jest.config.js
!.env.example

cypress.*.json
**/cypress/videos/
