name: prod-deploy

on:
  push:
    branches:
      - main

jobs:
  prod-deploy-backend:
    name: Production Deploy Backend
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ACCESS_ARN }}
          aws-region: ap-southeast-1

      - name: Create backend/.env file
        run: |
          touch .env
          echo CERTIFICATE_ARN=${{ secrets.CERTIFICATE_ARN }} >> .env
          cat .env
        working-directory: backend

      - name: Install NPM Dependencies (Backend)
        run: npm ci
        working-directory: backend

      - name: Install NPM Dependencies
        run: npm run cinstall-all
        working-directory: backend

      - name: Production CDK Deploy Backend
        run: npm run deploy-backend prod
        env:
          CERTIFICATE_ARN: ${{secrets.CERTIFICATE_ARN}}
        working-directory: backend

  prod-deploy-frontend:
    name: Production Deploy Frontend
    runs-on: ubuntu-latest
    needs: prod-deploy-backend
    permissions:
      actions: write
      contents: read
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ACCESS_ARN }}
          aws-region: ap-southeast-1

      - name: Install NPM Dependencies (Backend)
        run: npm ci
        working-directory: backend

      - name: Install NPM Dependencies
        run: npm run cinstall-all
        working-directory: backend

      - name: Production Build Frontend
        if: contains(github.event_name, 'push')
        run: npm ci && npm run build
        env:
          ORDERS_API_URL: https://sss9czm0s0.execute-api.ap-southeast-1.amazonaws.com
        working-directory: frontend

      - name: Production CDK Deploy Frontend
        if: contains(github.event_name, 'push')
        run: npm run deploy-frontend prod
        env:
          CERTIFICATE_ARN: ${{secrets.CERTIFICATE_ARN}}
        working-directory: backend
