name: prod-diff

on:
  push:
    branches:
      - main

jobs:
  prod-diff:
    name: Diff
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ACCESS_ARN }}
          aws-region: ap-southeast-1

      - name: Install NPM Dependencies (CDK)
        run: npm ci
        working-directory: backend

      - name: Install NPM Dependencies
        run: npm run cinstall-all
        working-directory: backend

      - name: Production Build Backend
        run: npm run build-all
        working-directory: backend

      - name: Production CDK Diff Check
        run: npm run diff-backend prod
        working-directory: backend
